// Variables

// $Wide16x9Size: 1800px;
// $MoreWidePCSize: 1550px;
// $WideTabletSize: 1280px;
// $WidePCSize: 1024px;
// $TabletSize: 912px;
// $MiniTabletSize: 768px;
// $MobileSize: 540px;
// $MobilephoneSize: 479px;

// Device Switchover Point
$media-swp: 750px;

// Height of Site Header
$site-header-height: 48px;

// Height of Site Sidebar
$site-sidebar-width: 52px;

// Main Post List Width
$main-list-width: 400px;

// Height of mainContent header
$list-header-height: 45px;

// Height of Site Footer
$site-footer-height: 75px;
