/** 
* Shared Module Text Style
*/

.fs-x03 {
  font-size: 0.3rem;
}

.fs-x04 {
  font-size: 0.4rem;
}

.fs-x05 {
  font-size: 0.5rem;
}

.fs-x06 {
  font-size: 0.6rem;
}

.fs-x07 {
  font-size: 0.7rem;
}

.fs-x08 {
  font-size: 0.8rem;
}

.fs-x09 {
  font-size: 0.9rem;
}

.fs-x10 {
  font-size: 1.0rem;
}

.fs-x11 {
  font-size: 1.1rem;
}

.fs-x12 {
  font-size: 1.2rem;
}

.fs-x13 {
  font-size: 1.3rem;
}

.fs-x14 {
  font-size: 1.4rem;
}

.fs-x15 {
  font-size: 1.5rem;
}

.bold {
  font-weight: 700;
}

/* Font Color */

.ft-mid {
  color: var(--ft-color-mid);
}

.ft-weakened {
  color: var(--ft-color-weak);
}

.ft-title {
  color: var(--card-title);
}

.post-title {
  color: var(--post-title);
}



/* Shadow */
.btm-shadow {
  box-shadow: 1px 1px 2px -1px var(--bdr-color-default);
}

.top-shadow {
  box-shadow: 0 -2px 2px -1px var(--bdr-color-default);
}

.r-shadow {
  box-shadow: 1.5px 0 2px -1px var(--bdr-color-default);
}

.l-shadow {
  box-shadow: -2px 0 2px -1px var(--bdr-color-default);
}

.drop-shadow {
  box-shadow: 1px 1px 2px -1px var(--bdr-color-default);
}


/* Border */
.bdr {
  border: 1px solid var(--bdr-color-default);
}

.bdr-top {
  border-top: 1px solid var(--bdr-color-default);
}

.bdr-btm {
  border-bottom: 1px solid var(--bdr-color-default);
}

.bdr-left {
  border-left: 1px solid var(--bdr-color-default);
}

.bdr-right {
  border-right: 1px solid var(--bdr-color-default);
}

.thin-bdr {
  border: 1px solid;
  border-color: var(--thin-bdr);
}

.thin-bdr-light {
  border-color: var(--thin-bdr-light);
}

/* Background Color */
.base-bg {
  background-color: var(--bg-default);
}

.base-bg-rear {
  background-color: var(--bg-rear);
}

.base-bg-front {
  background-color: var(--bg-front);
}

/* Display Flex Styles */
.flex-l-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-r-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-bth-end {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

/* Margin and Padding */
.init-space {
  margin: 0;
  padding: 0;
}

/* Selected State */
/* .not-selected {
  display: none;
}

.selected {
  display: block;
} */