---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="PostingApp Main">
	<header class="list-header">
    <div class="list-title-block">
      <h3 class="list-title ft-list-title">記事一覧</h3>
    </div>
  </header>

  <!-- Post List -->
  <article id="post-article" class="article post-article type-list">
    <section id="post-card-list" class="post-card-list">
      <!-- map post list here -->
    </section>
  </article>
</BaseLayout>
