---
import BaseLayout from "../layouts/BaseLayout.astro";
import CounterSvelte from "../components/CounterSvelte.svelte";
---

<BaseLayout title="PostingApp Main">
  <header class="list-header bdr-btm">
    <div class="list-title-block">
      <h3 class="list-title ft-list-title init-space">記事一覧</h3>
    </div>
  </header>

  <!-- Post List -->
  <article id="postArticle" class="article post-article type-list">
    <section id="post-card-list" class="post-card-list">
      <!-- map post list here -->
      <CounterSvelte client:load />
    </section>
  </article>
</BaseLayout>

<style lang="scss">
  
</style>
