---
const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Posting App</title>
  </head>
  <body>
    <header id="app-header" class="app-header"></header>

    <!-- /// import sublayout start /// -->
    <slot />
    <!-- /// import sublayout end /// -->

    <footer id="app-footer"></footer>
  </body>
</html>
